<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043186572321-trm7mk44du31m1i67mn7vmnnvd426ftp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043186572321-trm7mk44du31m1i67mn7vmnnvd426ftp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1043186572321-kif39grqim5g9bea663r68vpmprkj91k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBR0Q4MmrBIQSmrsuxUM677uIXnvQLXYLU</string>
	<key>GCM_SENDER_ID</key>
	<string>1043186572321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devanshu.ourmoney.ios</string>
	<key>PROJECT_ID</key>
	<string>ourmoney-647b2</string>
	<key>STORAGE_BUCKET</key>
	<string>ourmoney-647b2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043186572321:ios:125175b4eb5d0980411760</string>
</dict>
</plist>
